<footer class="footer">
  <div class="footer__container container flex-v-center-between">
    <div class="footer__top flex-v-center">
      <img class="footer__logo" src="img/logo.png" alt="">
      <p class="footer__copyrights">Copyright &copy;&nbsp;2022&nbsp;HEALAS.LT. All Rights Reserved.</p></div>
    <div class="footer__socials flex-v-center">
      <img  class="footer__logo footer__logo--mobile" src="img/logo.png" alt="">
      <a class="footer__link" href="">
        <img class="footer__social footer__social--facebook" src="img/facebook.svg" alt="">
      </a>
      <a class="footer__link" href="">
        <img class="footer__social footer__social--twitter" src="img/twitter.svg" alt="">
      </a>
      <a class="footer__link" href="">
        <img class="footer__social footer__social--instagram" src="img/instagram.svg" alt="">
      </a>
    </div>
  </div>
</footer>
