<header class="header">
  <div class="header__container container flex-v-center-between">
    <div class="header__logo-container">
      <img class="header__logo" src="img/logo.png" alt="">
    </div>
    <nav class="header__nav">
      <ul class="header__list list-reset flex-v-center" data-menu>
        <li class="header__item">
          <a class="header__link href="#"">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link href="#">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link href="#">Prices</a>
        </li>
        <li class="header__item">
          <a class="header__link href="#"">Rules</a>
        </li>
        <li class="header__item">
          <button class="header__btn btn btn-reset">Get Started Now</button>
        </li>
    </nav>
  </div>
</header>
