<div class="hero">
  <div class="hero__container flex container">
    <div class="hero__content rel">
      <h3 class="hero__text">Gaming Consoles</h3>
      <h1 class="hero__title title">Try It, Rent&nbsp;It,</h1>
      <h2 class="hero__subtitle">Save $50!</h2>
      <p class="hero__descr descr">It&nbsp;is&nbsp;a&nbsp;long established fact that a&nbsp;reader will be&nbsp;distracted by&nbsp;the readable content of&nbsp;a&nbsp;page when looking at&nbsp;its layout. The point of&nbsp;using Lorem Ipsum is&nbsp;that it&nbsp;has a&nbsp;more-or-less normal distribution of&nbsp;letters as&nbsp;opposed.</p>
      <button class="hero__btn btn btn-reset">Get Started Now</button>
    </div>
    <div class="hero__images rel">
      <img class="hero__card1 abs" src="img/hero-card1.jpeg" alt="">
      <img class="hero__circle_left abs" src="img/circle-left.png" alt="">
      <img class="hero__circle_middle abs" src="img/circle-middle.png" alt="">
      <img class="hero__circle_right abs" src="img/circle-right.png" alt="">
      <img class="hero__lines abs" src="img/hero-red-lines.png" alt="">
      <img class="hero__gamer abs" src="img/hero-gamer.png" alt="">
      <img class="hero__card2 abs" src="img/hero-card2.jpeg" alt="">
    </div>
  </div>
</div>
