<div class="tariff">
  <div class="tariff__container container">
    <h3 class="tariff__subtitle">Our Pricing</h3>
    <h2 class="tariff__title title">Choose Your Plan</h2>
    <div class="tariff__plans-container flex-v-center-between" onclick="activeInactiveEl(event)">
      <div class="tariff__plan-card rel">
        <h3 class="tariff__name">Basic</h3>
        <div class="tariff__plan-title flex-v-center">
          <h2 class="tariff__price">$50.00</h2>
          <span class="tariff__hour"> / Per Hour</span>
        </div>
        <ul class="tariff__list list-reset">
          <li class="tariff__item">
            <span class="tariff__text">10 users included</span>
          </li>
          <li class="tariff__item">
            <span class="tariff__text">2 GB of storage</span>
          </li>
          <li class="tariff__item">
            <span class="tariff__text">Email support</span>
          </li>
          <li class="tariff__item">
            <span class="tariff__text">Help center access</span>
          </li>
          <li class="tariff__item">
            <span class="tariff__text">10 users included</span>
          </li>
        </ul>
        <button class="tariff__btn btn btn-reset">Select This Plan</button>
      </div>
      <div class="tariff__plan-card rel tariff__plan-card--active">
        <h3 class="tariff__name">Standard</h3>
        <div class="tariff__plan-title flex-v-center">
          <h2 class="tariff__price">$95.00</h2>
          <span class="tariff__hour"> / Per Hour</span>
        </div>
        <ul class="tariff__list list-reset">
          <li class="tariff__item">
            <span class="tariff__text">10 users included</span>
          </li>
          <li class="tariff__item">
            <span class="tariff__text">2 GB of storage</span>
          </li>
          <li class="tariff__item">
            <span class="tariff__text">Email support</span>
          </li>
          <li class="tariff__item">
            <span class="tariff__text">Help center access</span>
          </li>
          <li class="tariff__item">
            <span class="tariff__text">10 users included</span>
          </li>
        </ul>
        <button class="tariff__btn btn btn-reset">Select This Plan</button>
      </div>
      <div class="tariff__plan-card rel">
        <h3 class="tariff__name">Premium</h3>
        <div class="tariff__plan-title flex">
          <h2 class="tariff__price">$125.00</h2>
          <span class="tariff__hour"> / Per Hour</span>
        </div>
        <ul class="tariff__list list-reset">
          <li class="tariff__item">
            <span class="tariff__text">10 users included</span>
          </li>
          <li class="tariff__item">
            <span class="tariff__text">2 GB of storage</span>
          </li>
          <li class="tariff__item">
            <span class="tariff__text">Email support</span>
          </li>
          <li class="tariff__item">
            <span class="tariff__text">Help center access</span>
          </li>
          <li class="tariff__item">
            <span class="tariff__text">10 users included</span>
          </li>
        </ul>
        <button class="tariff__btn btn btn-reset">Select This Plan</button>
      </div>
    </div>
    <div class="swiper tariff__slider">
      <div class="swiper-wrapper tariff__swiper-wrapper tariff__plans-container__small-tablet" onclick="activeInactiveEl(event)">
        <div class="swiper-slide tariff__slide">
          <div class="tariff__plan-card rel">
            <h3 class="tariff__name">Basic</h3>
            <div class="tariff__plan-title flex-v-center">
              <h2 class="tariff__price">$50.00</h2>
              <span class="tariff__hour"> / Per Hour</span>
            </div>
            <ul class="tariff__list list-reset">
              <li class="tariff__item">
                <span class="tariff__text">10 users included</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">2 GB of storage</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">Email support</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">Help center access</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">10 users included</span>
              </li>
            </ul>
            <button class="tariff__btn btn btn-reset">Select This Plan</button>
          </div>
        </div>
        <div class="swiper-slide tariff__slide">
          <div class="tariff__plan-card rel tariff__plan-card--active">
            <h3 class="tariff__name">Standard</h3>
            <div class="tariff__plan-title flex-v-center">
              <h2 class="tariff__price">$95.00</h2>
              <span class="tariff__hour"> / Per Hour</span>
            </div>
            <ul class="tariff__list list-reset">
              <li class="tariff__item">
                <span class="tariff__text">10 users included</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">2 GB of storage</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">Email support</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">Help center access</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">10 users included</span>
              </li>
            </ul>
            <button class="tariff__btn btn btn-reset">Select This Plan</button>
          </div>
        </div>
        <div class="swiper-slide tariff__slide">
          <div class="tariff__plan-card rel">
            <h3 class="tariff__name">Premium</h3>
            <div class="tariff__plan-title flex">
              <h2 class="tariff__price">$125.00</h2>
              <span class="tariff__hour"> / Per Hour</span>
            </div>
            <ul class="tariff__list list-reset">
              <li class="tariff__item">
                <span class="tariff__text">10 users included</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">2 GB of storage</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">Email support</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">Help center access</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">10 users included</span>
              </li>
            </ul>
            <button class="tariff__btn btn btn-reset">Select This Plan</button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper tariff__slider_mob">
      <div class="swiper-wrapper tariff__swiper-wrapper_mob tariff__plans-container__small-tablet" onclick="activeInactiveEl(event)">
        <div class="swiper-slide tariff__slide_mob">
          <div class="tariff__plan-card rel">
            <h3 class="tariff__name">Basic</h3>
            <div class="tariff__plan-title flex-v-center">
              <h2 class="tariff__price">$50.00</h2>
              <span class="tariff__hour"> / Per Hour</span>
            </div>
            <ul class="tariff__list list-reset">
              <li class="tariff__item">
                <span class="tariff__text">10 users included</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">2 GB of storage</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">Email support</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">Help center access</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">10 users included</span>
              </li>
            </ul>
            <button class="tariff__btn btn btn-reset">Select This Plan</button>
          </div>
        </div>
        <div class="swiper-slide tariff__slide_mob">
          <div class="tariff__plan-card rel tariff__plan-card--active">
            <h3 class="tariff__name">Standard</h3>
            <div class="tariff__plan-title flex-v-center">
              <h2 class="tariff__price">$95.00</h2>
              <span class="tariff__hour"> / Per Hour</span>
            </div>
            <ul class="tariff__list list-reset">
              <li class="tariff__item">
                <span class="tariff__text">10 users included</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">2 GB of storage</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">Email support</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">Help center access</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">10 users included</span>
              </li>
            </ul>
            <button class="tariff__btn btn btn-reset">Select This Plan</button>
          </div>
        </div>
        <div class="swiper-slide tariff__slide_mob">
          <div class="tariff__plan-card rel">
            <h3 class="tariff__name">Premium</h3>
            <div class="tariff__plan-title flex">
              <h2 class="tariff__price">$125.00</h2>
              <span class="tariff__hour"> / Per Hour</span>
            </div>
            <ul class="tariff__list list-reset">
              <li class="tariff__item">
                <span class="tariff__text">10 users included</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">2 GB of storage</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">Email support</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">Help center access</span>
              </li>
              <li class="tariff__item">
                <span class="tariff__text">10 users included</span>
              </li>
            </ul>
            <button class="tariff__btn btn btn-reset">Select This Plan</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function activeInactiveEl(e) {
      console.log('hello');
      if (document.querySelector('div.tariff__plan-card--active') !== null) {
          document.querySelector('div.tariff__plan-card--active').classList.remove('tariff__plan-card--active');
      }
      const parentCard = e.target.closest('.tariff__plan-card');
      parentCard.className += ' tariff__plan-card--active';
    }
  </script>
</div>
