<div class="vr">
  <div class="vr__container container grid">
    <div class="vr__images rel">
      <img class="vr__screen abs" src="img/vr-screen.png" alt="">
      <img class="vr__men abs" src="img/vr-men.png" alt="">
      <img class="vr__shadow abs" src="img/vr-shadow.png" alt="">
      <img class="vr__men-shadow abs" src="img/vr-shadow-men.png" alt="">
    </div>
    <div class="vr__content">
      <h3 class="vr__subtitle">About VR Glasses</h3>
      <h2 class="vr__title title">The New VR Glasses Series</h2>
      <p class="vr__descr descr">It&nbsp;is&nbsp;a&nbsp;long established fact that a&nbsp;reader will be&nbsp;distracted by&nbsp;the readable content of&nbsp;a&nbsp;page when looking at&nbsp;its layout. The point of&nbsp;using Lorem Ipsum is&nbsp;that it&nbsp;has a&nbsp;more-or-less normal distribution of&nbsp;letters as&nbsp;opposed.</p>
      <buuton class="vr__btn btn btn-reset">Get Started Now</buuton>
    </div>
  </div>
</div>
