<div class="xboxps">
  <div class="xboxps__container container grid">
    <div class="xboxps__content">
      <h3 class="xboxps__subtitle subtitle">About XBOX, PS</h3>
      <h2 class="xboxps__title title">The New Xbox, PS Series</h2>
      <p class="xboxps__descr descr">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters as opposed.</p>
      <button class="xboxps__btn btn-reset btn">Get Started Now</button>
    </div>
    <div class="xboxps__images rel">
      <img src="img/xboxps-flower-left.png" alt="" class="xboxps__flower_left abs">
      <img src="img/xboxps-cloud.png" alt="" class="xboxps__cloud abs">
      <img src="img/xboxps-flower-right.png" alt="" class="xboxps__flower_right abs">
      <img src="img/xboxps-gamepad.png" alt="" class="xboxps__gamepad abs">
      <img src="img/xboxps-man1.png" alt="" class="xboxps__man1 abs">
      <img src="img/xboxps-man2.png" alt="" class="xboxps__man2 abs">
      <img src="img/xboxps-mecha1.png" alt="" class="xboxps__mecha1 abs">
      <img src="img/xboxps-mecha2.png" alt="" class="xboxps__mecha2 abs">
    </div>
  </div>
</div>
